---
layout: page
---
<div id="blog">
  <!-- Responsive Header -->
  <section id="header-content">
    <h1>{{ page.title }}</h1>
  </section>
  <section class="bg"></section>
  <div class="row">
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="/assets/img/picture1.png" alt="Name 1">
      <div class="card-body">
        <h5 class="card-title">Julie Choquette</h5>
        <p class="card-text">Short description of Name 1</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="/assets/img/picture2.png" alt="Name 2">
      <div class="card-body">
        <h5 class="card-title">Silvia Grueva</h5>
        <p class="card-text">Short description of Name 2</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="/assets/img/picture3.png" alt="Name 3">
      <div class="card-body">
        <h5 class="card-title">Pietro Violo</h5>
        <p class="card-text">Short description of Name 3</p>
      </div>
    </div>
  </div>
</div>