$theme-color : #4a4a4a;
$theme-bright : #4a4a4a;
$theme-dark : #4a4a4a;
$theme-dark2 : #4a4a4a;
$text : rgba(0,0,0,0.8);
$text-gray : rgba(0,0,0,0.54);
$divider-color : #4a4a4a;
$background-gray : rgba(0,0,0,0.05);

%page-padding {
    padding : 0px 15%!important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right : 5%;
    @media (max-width: 991px) {
        right : 3%;
    }
}
